.u-section-1 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 85px auto 0 155px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 42px 191px 0 157px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: 105px 805px -62px 155px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 98px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 313px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 273px;
  }
}