.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 69px auto 0 70px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 34px 604px 60px 70px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2452px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 50px;
  }
}